<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FakeItEasy" version="1.25.1" targetFramework="net40" />
  <package id="Fody" version="3.3.5" targetFramework="net40" developmentDependency="true" />
  <package id="NullGuard.Fody" version="1.8.7" targetFramework="net40" developmentDependency="true" />
</packages>